.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
iec16022
iec16022.1
*.o
*.lo
*.la
*.pc
libtool
stamp-h1
compile
*.tar.*
test-driver
depcomp
install-sh
ltmain.sh
missing
test/test-suite.log
test/testsuite.sh.log
test/testsuite.sh.trs
